{% extends 'base.html' %}

{% set page_title = 'Supplier Management' %}

{% set page_action = {'name': 'Add Supplier', 'url': url_for('supplier_add')} %}

{% set fields = ['Name', 'TIN', 'Address', 'SKU', 'Date', 'Delete'] %}

{% macro get_heading(item) -%}
    {{ item.name }}
{%- endmacro %}

{% macro del_supplier(item) -%}
<a class="action" onclick="return confirm('Are you sure?');" href="{{ url_for('supplier_delete', tin=item.tin) }}">🗑️ Delete</a>
{%- endmacro %}

{% macro get_attrs(item) -%}

  <td class="px-6 py-4">{{ item.tin }}</td>
  <td class="px-6 py-4">{{ item.address }}</td>
  <td class="px-6 py-4">{{ item.sku }} </td>
  <td class="px-6 py-4">{{ item.date }} </td>
  <td class="px-6 py-4 underline">{{ del_supplier(item) }}</td>
{%- endmacro %}

{% block content %}

{% include 'index_table.html' %}
{% endblock %}
