{% extends 'base.html' %}

{% set page_title = 'Product Management' %}

{% set page_action = {'name': 'Add Product', url: url_for('product_add')} %}

{% set fields = ['Product name', 'Description', 'Price', 'Edit', 'Delete'] %}
{% macro get_heading(item) -%}
    {{ item.name }}
{%- endmacro %}

{% macro del_product(item) -%}
<a class="action" onclick="return confirm('Are you sure?');" href="{{ url_for('product_delete', sku=item.sku) }}">🗑️ Delete</a>
{%- endmacro %}
{% macro edit_product(item) -%}
<a class="action" href="{{ url_for('product_update', sku=item.sku) }}"
>✏️ Edit</a
>
{%- endmacro %}
{% macro get_attrs(item) -%}

  <td class="px-6 py-4">{{ item.description }}</td>
  <td class="px-6 py-4">{{ item.price }} €</td>
  <td class="px-6 py-4 underline">{{ edit_product(item) }} </td>
  <td class="px-6 py-4 underline">{{ del_product(item) }}</td>
{%- endmacro %}


{% block content %}

{% include 'index_table.html' %}
{% endblock %}
