{% extends 'base.html' %}

{% set page_title = 'Customer Management' %}

{% set page_action = {'name': 'Add Customer', 'url': url_for('customer_add')} %}

{% set fields = ['Name', 'Customer nº', 'Address', 'E-mail', 'Phone', 'Update', 'Delete'] %}

{% macro get_heading(item) -%}
    {{ item.name }}
{%- endmacro %}

{% macro edit_customer(item) -%}
    <a
      class="action"
      href="{{ url_for('customer_update', cust_no=item.cust_no) }}"
      >✏️ Edit</a
    >
{%- endmacro %}


{% macro del_customer(item) -%}
<a
class="action"
onclick="return confirm('Are you sure you want to delete customer {{ item.cust_no }}?\nThis action is irreversible.');"
href="{{ url_for('customer_delete', cust_no=item.cust_no) }}"
>🗑️ Delete</a>
{%- endmacro %}

{% macro get_attrs(item) -%}

  <td class="px-6 py-4">{{ item.cust_no }}</td>
  <td class="px-6 py-4">{{ item.address }}</td>
  <td class="px-6 py-4">{{ item.email }} </td>
  <td class="px-6 py-4">{{ item.phone }} </td>
  <td class="px-6 py-4 underline">{{ edit_customer(item) }}</td>
  <td class="px-6 py-4 underline">{{ del_customer(item) }}</td>
{%- endmacro %}

{% block content %}

{% include 'index_table.html' %}
{% endblock %}
