<!doctype html>
<title>{% block title %}{% endblock %} - Orders"R"Us</title>
<link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
<nav>
  <h1><a href="/">Orders"R"Us</a></h1>
  <ul>
    <li><a href="{{ url_for('customer') }}">Customers</a>
      <li><a href="{{ url_for('order_index') }}">Orders</a>
        <li><a href="{{ url_for('product_index') }}">Products</a>
          <li><a href="{{ url_for('supplier_index') }}">Suppliers</a>
            <li><a href="{{ url_for('payment') }}">Payments</a>
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
