{% extends 'base.html' %}


{% set page_title='New Order' %}

{%set form_action = '/order/add' %}
{% set form_fields = [('order_no', 'Order Number', 'number'),
                      ('cust_no', 'Customer Number', 'number'),
                      ('date', 'Date', 'date'),
                      ]
%}



{% set extraformcontent %}
  <div class="flex mr-20">
    <h2 class="text-2xl ml-auto font-semibold leading-7 text-gray-900">
      What do you want to add?
    </h2>

    <div
      id="productsdiv"
      class="mt-20 overflow-y-scroll w-6/12"
      style="max-height: 50rem !important"
    >
      {% for product in products %}
      <li
        class="flex justify-between gap-x-6 py-5 mx-20"
        style="width: 100rem !important"
      >
        <div class="flex gap-x-4">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              {{ product['name'] }}
            </p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">
              {{ product['description'] }}
            </p>
          </div>
        </div>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">
            € {{ product['price'] }}
          </p>
          <input
            type="number"
            class="w-10"
            name="{{ product['sku']}}"
            min="0"
            id="qty"
          />
        </div>
      </li>
    {% endfor %}
    </div>
  </div>

  {% endset %}

  {%block content%}
  {% include 'forms.html' %}
  {%endblock%}
