{% extends 'base.html' %}

{% set page_title = 'Order Management' %}

{% set page_action = {'name': 'Add Order', 'url': url_for('order_add')} %}

{% set fields = ['Order Number', 'Customer Number', 'Date', 'Payment'] %}


{% macro get_heading(item) -%}
    {{ item.order_no }}
{%- endmacro %}

{% macro pay_field(item) -%}
{% if not item.paid_order_no %}
<div class="font-medium text-red-600">Not Paid</div>
{% else %}
<div class="font-medium text-green-600">Paid</div>

{% endif %}
{%- endmacro %}

{% macro get_attrs(item) -%}
  {% if item.cust_no != -1 %} 
    <td class="px-6 py-4">{{ item.cust_no }}</td>
    {% else %}
    <td class="px-6 py-4">Deleted Customer</td>
  {% endif %}
  <td class="px-6 py-4">{{ item.date }}</td>
  <td class="px-6 py-4">{{ pay_field(item) }}</td>
{%- endmacro %}

{% block content %}

{% include 'index_table.html' %}
{% endblock %}
